<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="SMSYK-Connection" 
			 connectionString="Data Source 
			 = REDWAN-PC\EMAN; 
			 Initial Catalog = SMS_NEW_YK; Trusted_Connection = Yes"/>
	</connectionStrings>
</configuration>